
main{
    max-width: 90%;
    height: fit-content;
    position: relative;
    top: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
}
section h1
{
    color:  rgb(4, 48, 85);
    background-color: beige;
}
section h1:hover
{
    color : white;
    background-color:  rgb(4, 48, 85);
    width: max-content;
}

footer{
    top: 10rem;
}