header
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    background-color: rgb(4, 48, 85);
    color: white;
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0px;
    width: 100%;
}
main
{
    margin-top: 160px;
    margin-left: 50px;
    margin-right: 50px;
}
/* GESTION DU STYLE DES LIENS DE NOTRE HEADER */
header a
{
    background-color: rgb(4, 48, 85);
    color: white;
}
/* PERSONALISATION DU PREMIER BLOC LE SOUS HEADER 1*/
header .sous_header1
{
    height: 50px;
}
header .sous_header1 a
{
    border: rgb(2, 8, 14) solid 2px;
    width: max-content;
}
header .sous_header1:not(:target) #status_visiteur
{
    /*background-color: rgb(4, 48, 85);*/
    display: none;
}
header .sous_header1:target #status_visiteur
{
    /*background-color: rgb(4, 48, 85);*/
    display: block;
}

header .sous_header1, header .sous_header2
{
    display: inline-block;
}
/* PERSONALISATION DU SECOND SOUS HEADER */ 
header .sous_header2
{
    float: right;
    width:  47%;
    text-align: justify;
}
header .sous_header2 li
{
    list-style-type:none;
    margin-right: 25px;
    display: inline-block;
}
header .sous_header2 li a
{
    text-decoration: none;

}

/* PERSONNALISATION DU TROISIEME SOUS MENU*/
header .sous_header3
{
    background-color: white;
    color: rgb(4, 48, 85);
    font-size: 1.2em;
}
header .sous_header3 a
{
    background-color: white;
    color: rgb(4, 48, 85);
    font-size: 1.2em;
    text-decoration: none;
}
header .sous_header3 a:hover
{
    background-color: rgb(4, 48, 85);
    color: white;
    font-size: 1.2em;
    text-decoration: underline;
}
header .sous_header3 img
{
    vertical-align: middle;
    width : 60px;
}
/* PERSONNILASITION DE LA NAV BARRE*/

header .sous_header3
{
    box-sizing: border-box;
}

header .sous_header3 .identite_esis, header .sous_header3 .nav_barre
{
    display: inline-block;
    width: 49%;
}
header .sous_header3 .identite_esis
{
    float :left;
}
header .sous_header3 .nav_barre
{
    vertical-align: top;
}
/* METTRE LE MENU EN LIGNE*/
header .sous_header3 li
{

    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 40px;
}
header .sous_header3 .nav_barre .sub_menu li
{
    display: block;
    padding-bottom: 20px;
}
header .wrapper
{
    margin: 0 auto;
}
/**/

/*MASQUER LE SOUS MENU*/
header .sous_header3 .sub_menu
{
    display: block;
    background-color: rgb(4, 48, 85);
    color: white;
}

header .sous_header3 .nav_barre li .sub_menu
{
    display: none;
    position: absolute;
}
header .sous_header3 .nav_barre li a
{
    display: block;
    padding-bottom: 20px;
}

/* FAIRE APPARAITRE LE SOUS MENU*/
header .sous_header3 .nav_barre li:hover .sub_menu
{
    background-color: rgb(4, 48, 85);
    
    font-size: medium;
    color: white;
    display: block;
}
header .sous_header3 .nav_barre li:hover a
{
    background-color: rgb(4, 48, 85); 
    color: white;
}
header .sous_header3 .nav_barre .sub_menu li a:hover
{
    background-color: white;
    color: rgb(4, 48, 85); 
    border: solid 1px;
}
