@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root {
  --color-primary: #0d534c;
  --color-primary-light: #0f635b;
  --color-primary-dark: #0a423c;
  --color-white: #c5c5c5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-primary);
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.header .logo{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.header .logo h1{
  font-size: 25px;
  text-transform: uppercase;
  color: var(--color-white);
}

.header .navigation ul {
  list-style: none;
}

.header .navigation ul li {
  float: left;
  position: relative;
}

.header .navigation ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
  padding: 20px;
  display: block;
  transition: all .2s ease;
}

.header .navigation ul li a:hover {
  background: var(--color-primary-light);
}

.header .navigation ul li ul {
  position: absolute;
  right: 0;
  width: 250px;
  background: var(--color-primary);
  display: none;
}


.header .navigation ul li ul li a {
  font-size: 15px;
  text-transform: capitalize;
}

.header .navigation ul li ul li ul {
  position: absolute;
  top: 0;
  right: 250px;
}

.header .navigation ul li ul li {
  width: 100%;
  border-top: 1px solid var(--color-primary-light);
}

.header .navigation ul li:hover ul {
  display: initial;
}


#toggle ,
.header label {
  display: none;
  cursor: pointer;
}

.header label img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}


section{
  position: relative;
  top: 5.2rem;
}

hr{
  width: 20%;
}

.actualite{
  position: relative;
  top: 17rem;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actualite h1{
  font-size: 50px;
  text-transform: uppercase;
}



footer {
  background-color: var(--color-primary);
  position: relative;
  top: 30rem;
}
footer .services_list {
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}



.service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px auto;
}
.service  p {
  color: var(--color-white);
  font-size: 20px;
}

.service  p a{
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;
}

.service  h2{
  font-size: 25px;
  margin-bottom: 30px;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 2px;
  width: 100%;
}

.connect{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.connect p a i{
  font-size: 70px;
}

.connect p .fa-google-plus-g{
  color: #eb190d;
}

.connect p .fa-youtube{
  color: #eb190d;
}

.connect p a{
  text-decoration: none;
  color: #333;
}

.fa-facebook{
  color: rgb(103, 126, 199);
}
.footer_text {
  text-align: center;
  font-size: 15px;
  padding: 8px 0;
}
.footer_text span {
  color: #27ae60;
}


@media(max-width: 750px) {
  .header label {
    display: initial;
  }

  .header {
    width: 100%;
    padding: 20px 10%;
  }


  .header .logo{
    display: none;
  }

  .header .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--color-primary);
    display: none;
  }

  .header .navigation ul li {
    width: 100%;
    border-top: 1px solid var(--color-primary-light);
  }

  .header .navigation ul li a {
    padding: 8px 30px 8px 10%;
  }

  .header .navigation ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }

  .header .navigation ul li ul li {
    background: var(--color-primary);
  }

  .header .navigation ul li ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }

  .header .navigation ul li ul li span {
    padding: 4px 10px;
    font-size: 10px;
  }

  #toggle:checked ~ .navigation {
    display: block;
  }

  .actualite{
    top: 4rem;
  }

  header{
      width: 100%;
    }
  
    header .logo{
      display: none;
    }

    footer{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
}

@media(max-width: 999px){
  .header label {
    display: initial;
  }

  .header {
    width: 100%;
    padding: 20px 10%;
  }

  .header .logo{
    display: none;
  }

  .header .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--color-primary);
    display: none;
  }

  .header .navigation ul li {
    width: 100%;
    border-top: 1px solid var(--color-primary-light);
  }

  .header .navigation ul li a {
    padding: 8px 30px 8px 10%;
  }

  .header .navigation ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }

  .header .navigation ul li ul li {
    background: var(--color-primary);
  }

  .header .navigation ul li ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }

  .header .navigation ul li ul li span {
    padding: 4px 10px;
    font-size: 10px;
  }

  #toggle:checked ~ .navigation {
    display: block;
  }

  header{
      width: 100%;
    }
  
    header .logo{
      display: none;
    }

    footer{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
}