main{
    position: relative;
    top: 5.2rem;
    max-width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section{
    width: 90%;
}
section
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section h1
{
    color:  rgb(4, 48, 85);
    background-color: beige;
}
section h1:hover
{
    color : white;
    background-color:  rgb(4, 48, 85);
    width: max-content;
}

footer{
    top: 15rem;
}